<h1><%= @meetup.name %></h1>

<p>Description <br><%= @meetup.description %></p>
<p>Created By: <%= @meetup.creator.username %></p>

<h3>Attending</h3>
<ul>
  <% @meetup.users.each do |user| %>
    <li><%=user.username%> <img src="<%=user.avatar_url%>" width="15" height="15"> </li>
    <% end %>
</ul>
<br>


<div>
<% if @is_member.nil? %>
  <form action="/meetups/<%= @meetup.id %>" method="post">
  <input type="Submit" class="btn btn-primary" value="Join meetup">
</form>
<% else %>
<form action="/meetups/<%= @meetup.id %>/leave" method="post">
  <input type="Submit" class="btn btn-primary" value="Leave Meetup">
</form>
<% end %>
</div>

<div class="comments">
<h3>Leave a Comment</h3>

<form id="form" action="/meetups/<%= @meetup.id %>/comment" method="post">
  <label for="title" >Title: </label>
  <input type="text" name="title" id="title" value=""><br>
  <label for="body" >Comment: </label>
  <input type="text" name="body" id="body" value=""><br>
  <input type="submit" value="submit">
</form>

<h4>Leave a comment!</h4><br>
<% @comments.each do |comment| %>
<p><%= "#{comment.title} #{comment.body} #{comment.user} #{comment.time}" %></p>
<% end %>



